.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.footer ul{
    list-style: none;
    display: flex;
    margin: 25px;
}

.footer a{
    color:aliceblue
}

.footer li{
    margin-left: 15px;
}
.footer p{
    margin: 25px;
}